{% include 'head.html' %}

    <h3 style="text-align: center;" class="marginX">Resultados</h3>
    <div class="container text-center">
        <!-- <div class="row">
          <div class="col">
            Res
          </div>
          <div class="col">
            Res
          </div>
          <div class="col">
            Res
          </div>
          <div class="col">
            Res
          </div>
          <div class="col">
            Res
          </div>
        </div> -->
      </div>
</body>
</html>